<p id="notice"><%= notice %></p>
<%= link_to 'New Post', new_post_path, class: "float-right" %>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class="card">
    <div class="card-header">
      <%= post.title %>
    </div>
    <div class="card-block">
      
      <p class="card-text"><%= " #{post.body[0..200]}..."  %></p>
      <%= link_to 'Full Post', post, class: "btn btn-primary"  %>
      <% if user_signed_in? and ((current_user == post.user) or current_user.admin?) %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
      <% end %>
    </div>
     <div class="card-footer">
      <%= "Author: #{ post.user ? post.user.email : 'anonymous'}" %>
    </div>
  </div>
  <br>
<% end %>

<%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<br>

