<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= @post.title %>
  </div>
  <div class="card-block">
    
    <p class="card-text"><%= @post.body %></p>
    
  </div>
  <div class="card-footer">
    <p>Comments:</p>

    <% @post.comments.each do |comment| %>
      <div class="card">
        <div class="card-block">
          <%= comment.body %>
        </div>
      </div>
    <% end %>

    <%= form_with(model: Comment.new) do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>
      <%= form.text_area :body, placeholder: "Add a new comment", size: "80x5"  %>
      <%= form.submit %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
