<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    <div class="flex-row d-flex">
        <%= link_to root_path, class: "navbar-brand" do %><i class="fa fa-plus" aria-hidden="true"></i> Santech<% end %>
    </div>
      <div class="collapse navbar-collapse justify-content-end " id="navbarCollapse">
        <ul class="navbar-nav  ">
          <% if !user_signed_in? %>
            <li class="nav-item active">
              <%= link_to new_user_session_path , class: "nav-link" do %>
                  <span class="fa fa-sign-in"></span> <%=  t('menu.log_in') %>
              <% end %>
            </li>
          <% else %>  
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=  current_user.email %></a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to  edit_user_registration_path,  class: "dropdown-item"   do %>
                  <span class="fa fa-cog"></span> Settings
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to  destroy_user_session_path, method: "delete", id: "sign_out" , class: "dropdown-item"   do %>
                      <span class="fa fa-sign-out"></span> Sign out
                <% end %>
              </div>
            </li>      
          <% end %>    
          
        </ul>
      </div>
</nav>
