<!DOCTYPE html>
<html>
  <head>
       <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Santech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid" id="main">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-12  main">
          <div class="row">
            <div class="col-md-8 offset-md-2"> 
              <%= yield %>
            </div>      
          </div>
        </div>    
      </div>    
    </div>
    
  </body>
</html>
